<div id="page-content">
<h1 class="text-center mt-4"><strong>Articles listing page</strong>
  <%= link_to 'Create an article', new_article_path, class: "btn btn-success"%>
</h1>
<div class="container">
  <% @articles.each do |a| %>
    <div class="row justify-content-md-center">
      <div class="col-6 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            By Srinivas Kanduri
          </div>
          <div class="card-body">
            <h5 class="card-title"><%=a.title%></h5>
            <p class="card-text"><%=truncate(a.description, length: 50)%></p>
            <%= link_to 'view', article_path(a), class:"btn btn-outline-primary"%>
            <%= link_to 'edit', edit_article_path(a), class:"btn btn-outline-warning"%>
            <%= link_to 'delete', article_path(a), class:"btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "Alert!: You are deleting article: #{a.title}, please confirm"}%>
          </div>
          <div class="card-footer text-muted">
            created <%=time_ago_in_words(a.created_at)%> ago,
            updated <%=time_ago_in_words(a.updated_at)%> ago.
          </div>
        </div>
      </div>
    </div>
  <%end%>
    <table class="table table-striped">
      <thead>
        <tr>
          <td scope="col"><strong>Title</strong></td>
          <td scope="col"><strong>Description</strong></td>
          <td scope="col", colspan="3"><strong>Action</strong></td>
        </tr>
      </thead>
      <tbody class="mt-2">
        <% @articles.each do |a| %>
        <tr>
          <td><%=a.title%></td>
          <td><%=a.description%></td>
          <td><%= link_to 'show', article_path(a), class:"btn btn-outline-primary"%></td>
          <td><%= link_to 'edit', edit_article_path(a), class:"btn btn-outline-warning"%></td>
          <td><%= link_to 'delete', article_path(a), class:"btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "Alert!: You are deleting article: #{a.title}, please confirm"}%></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>

  <p class="text-center">
    <%= link_to 'Create article', new_article_path, class: "btn btn-outline-success"%>
    <%= link_to 'Back to home', root_path, class: "btn btn-outine-danger"%>
  </p>
</div>
