<h1><strong><u>Articles</u></strong></h1>
<table>
  <thead>
    <tr>
      <td><strong><u>Title</u></strong></td>
      <td><strong><u>Description</u></strong></td>
      <div class="col-3"><td><strong><u>Action</u></strong></td></div>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |a| %>
    <tr>
      <td><%=a.title%></td>
      <td><%=a.description%></td>
      <td><%= link_to 'show', article_path(a)%></td>
      <td><%= link_to 'edit', edit_article_path(a)%></td>
      <td><%= link_to 'delete', article_path(a), data: { turbo_method: :delete, turbo_confirm: "Alert!: You are deleting article: #{a.title}, please confirm"}%></td>
    </tr>
    <%end%>
  </tbody>
</table>

<p>
  <button type="button"><%= link_to 'Create article', new_article_path%></button> |
  <button type="button"><%= link_to 'Back to home', root_path%></button>
</p>
